body
{
    width: 100vw;
    height: 100vh;
    margin: 0%;
    text-align: center;
    background-image: url("cyberBackground.png");
    background-size: cover;
    background-position: bottom;
}

.tutto
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

#adry
{
    justify-self: flex-end;
}